<style>
  .btnS {
      background-color: blue; /* Set the background color to blue */
      color: white; /* Set the text color to white */
      padding: 10px 20px; /* Set padding to provide some space inside the button */
      text-decoration: none; /* Remove underline for links */
      display: inline-block; /* Make sure it behaves as a block-level element but still respects surrounding elements */
      margin: 0; /* Remove margins */
      border: none; /* Remove borders */
      border-radius: 5px; /* Add some border-radius for rounded corners */
  }

  
</style>

<button type="button" class="btnS btn-primary">{{include.button_name}}</button>
